node_red.json
[
    {
        "id": "38597e63b78832ef",
        "type": "tab",
        "label": "流程 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15b49eebf4b5f296",
        "type": "function",
        "z": "38597e63b78832ef",
        "name": "Parse Voice Command",
        "func": "\nlet cmd = msg.payload;\n\nif ([\"forward\", \"backward\", \"left\", \"right\", \"stop\"].includes(cmd)) {\n    msg.payload = \"Move Command: \" + cmd;\n    return msg;\n} else if (cmd.startsWith(\"start\")) {\n    msg.payload = \"Start countdown\";\n    return msg;\n} else if (cmd == \"No\"){\n    msg.payload = \"no state\";\n    return msg;\n} else if ([\"Blink\", \"Hold in one color\", \"Hold in multiple colors\"].includes(cmd)){\n    msg.payload = \"LED Show: \" + cmd;\n    return msg;\n} else if (cmd == \"Close LED\"){\n    msg.payload = \"Close LED\";\n    return msg;\n}\nmsg.payload = \"Unknown command\";\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 360,
        "wires": [
            [
                "cddf19a9cb5c0f35",
                "164762bd1991b57d"
            ]
        ]
    },
    {
        "id": "cddf19a9cb5c0f35",
        "type": "ui_text",
        "z": "38597e63b78832ef",
        "group": "64b3795f3138e713",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Command Display",
        "label": "Voice Command",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 360,
        "wires": []
    },
    {
        "id": "22cc2dce5862319b",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "Forward",
        "group": "64b3795f3138e713",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Forward Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "forward",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "67c157fc9e57f228",
                "fddd0c968c31ac53"
            ]
        ]
    },
    {
        "id": "3dacd3b13dcd8584",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "Backward",
        "group": "64b3795f3138e713",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Backward Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "backward",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 640,
        "wires": [
            [
                "67c157fc9e57f228",
                "cc5d2979a5ed1ea6"
            ]
        ]
    },
    {
        "id": "5acd2d4b20edcf08",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "Left",
        "group": "64b3795f3138e713",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Left Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "left",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 700,
        "wires": [
            [
                "67c157fc9e57f228",
                "1067db7e434475d3"
            ]
        ]
    },
    {
        "id": "e2468489bc4f3ef5",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "Right",
        "group": "64b3795f3138e713",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Right Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "right",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "67c157fc9e57f228",
                "aa940a1750d6700d"
            ]
        ]
    },
    {
        "id": "67c157fc9e57f228",
        "type": "mqtt out",
        "z": "38597e63b78832ef",
        "name": "Motor Control",
        "topic": "Status/Motor",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "fddd0c968c31ac53",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "cc5d2979a5ed1ea6",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 620,
        "wires": []
    },
    {
        "id": "1067db7e434475d3",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 740,
        "wires": []
    },
    {
        "id": "aa940a1750d6700d",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 800,
        "wires": []
    },
    {
        "id": "4ea5d9122ed34f8f",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "Blink",
        "group": "64b3795f3138e713",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Blink with One Color",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "blink",
        "payloadType": "str",
        "topic": "debug/ledstrip",
        "topicType": "str",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "5052fc7d9eed2474",
                "ec27ac0530b7ed3f"
            ]
        ]
    },
    {
        "id": "c40a8722748c611b",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "Hold in One Color",
        "group": "64b3795f3138e713",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hold in One Color",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "one color",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 1020,
        "wires": [
            [
                "5052fc7d9eed2474",
                "93eb3c2676669dfe"
            ]
        ]
    },
    {
        "id": "95d3b6d62dfe2337",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "Hold in Multiple Colors",
        "group": "64b3795f3138e713",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hold in Multiple Colors",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "multiple colors",
        "payloadType": "str",
        "topic": "debug/ledstrip",
        "topicType": "str",
        "x": 280,
        "y": 1100,
        "wires": [
            [
                "5052fc7d9eed2474",
                "c5bbec93f8ba5e4c"
            ]
        ]
    },
    {
        "id": "5052fc7d9eed2474",
        "type": "mqtt out",
        "z": "38597e63b78832ef",
        "name": "LED Control",
        "topic": "Status/ledstrip",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ec27ac0530b7ed3f",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 900,
        "wires": []
    },
    {
        "id": "93eb3c2676669dfe",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 960,
        "wires": []
    },
    {
        "id": "c5bbec93f8ba5e4c",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1100,
        "wires": []
    },
    {
        "id": "58c8b091ae2e847f",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "Stop",
        "group": "64b3795f3138e713",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 820,
        "wires": [
            [
                "a1f6690c44c6ef95",
                "67c157fc9e57f228"
            ]
        ]
    },
    {
        "id": "a1f6690c44c6ef95",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 860,
        "wires": []
    },
    {
        "id": "164762bd1991b57d",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 460,
        "wires": []
    },
    {
        "id": "4d2e7823648669ca",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "OTAFU",
        "group": "64b3795f3138e713",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OTAFU",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "fw",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 1240,
        "wires": [
            [
                "a925a8a1444324ee"
            ]
        ]
    },
    {
        "id": "a925a8a1444324ee",
        "type": "mqtt out",
        "z": "38597e63b78832ef",
        "name": "OTAFU",
        "topic": "Status/OTAFU",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 560,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d514f162dc7be280",
        "type": "ui_button",
        "z": "38597e63b78832ef",
        "name": "Close LED Strip",
        "group": "64b3795f3138e713",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Close LED Strip",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "close",
        "payloadType": "str",
        "topic": "debug/ledstrip",
        "topicType": "str",
        "x": 260,
        "y": 1160,
        "wires": [
            [
                "5052fc7d9eed2474",
                "ae7c84193839148b"
            ]
        ]
    },
    {
        "id": "ae7c84193839148b",
        "type": "debug",
        "z": "38597e63b78832ef",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c7c32fa332409287",
        "type": "mqtt in",
        "z": "38597e63b78832ef",
        "name": "Voice Control",
        "topic": "Status/Voice",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "15b49eebf4b5f296"
            ]
        ]
    },
    {
        "id": "64b3795f3138e713",
        "type": "ui_group",
        "name": "ESE5160 Final",
        "tab": "d72044ac8cd0d157",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fde701c.6c6c3",
        "type": "mqtt-broker",
        "name": "AzureMqttBroker",
        "broker": "172.177.231.136",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d72044ac8cd0d157",
        "type": "ui_tab",
        "name": "ESE5160",
        "icon": "dashboard",
        "order": 1
    }
]